@using System.Globalization
@using SampleMvcApplication1.Controllers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="ru-RU">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()
    
    @{
        var year = DateTime.UtcNow.Year.ToString(CultureInfo.InvariantCulture);
        if (!"2014".Equals(year))
        {
            year = "2014-" + year;
        }
    }

    <footer class="text-center">
        SampleMvcApplication1&nbsp;v&nbsp;@typeof(HomeController).Assembly.GetName().Version&nbsp;&copy;&nbsp;@year Pavel S. Zaitsau<br />
        Специально для И.А.Евсеенко<br />
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
